<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubuntu安装程序 by xumouren225588</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

            socket.on('extract_progress', function(data) {
                var progressBar = document.getElementById('extract-progress');
                progressBar.value = data.progress;
            });

            socket.on('extract_finished', function(data) {
                alert('安装完成，系统将会在5秒后重启');
            });
        });
    </script>
</head>
<body>
    <h1>请选择你要安装的Rootfs</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">上传文件</button>
    </form>
    <h2>安装进度</h2>
    <progress id="extract-progress" value="0" max="100"></progress>
</body>
</html>
